{% extends "index.html.twig" %}
{% block body %}
<div class="bg-light">
    {% include "pesquisa.html.twig" %}
    <hr>
    {% include "paginate.html.twig" %}
</div>
<div>
    {% include "usuario.html.twig" %}
    {% include "historico.html.twig" %}
</div>
{% endblock %}
{% block css %}
<link href="../static/css/style.css" rel="stylesheet">
{% endblock %}
{% block js %}
<script type="module" src="../static/js/paginate.js"></script>
<script type="module" src="../static/js/historico.js"></script>
<script type="module" src="../static/js/procurarUsuario.js"></script>
<script type="module" src="../static/js/salvarUsuario.js"></script>
<script type="module" src="../static/js/handlerShowModalUsuario.js"></script>
<script type="module" src="../static/js/index.js"></script>
{% endblock %}
